a {
  color: unset;
}

pre {
  background-color: #eee;
  color: #282c34;
  padding: 16px;
  border-radius: 12px;
}

hr {
  width: 100%;
}

code {
  white-space: pre-wrap;
}

ul {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

li {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 160%;
}

table {
  border-collapse: collapse;
}

th,
td {
  width: 50%;
  padding: 12px 10px;
  text-align: left;
  border: 1px solid #000;
  vertical-align: middle;
}
